<div style="padding-top: 10px;">
  <table class="table table-hover" >
      <tbody style="display:none;">
        <tr ng-repeat="item in ctrl.items | orderBy: 'name'">
          <td>
            <h4 class="list-group-item-heading">
                {{item.short_name}} - {{ item.name }}
                <!-- <spam ng-if="item.price_small"> - sm ${{item.price_small}} </spam>
                <spam ng-if="item.price_large"> - lg ${{item.price_large}} </spam> -->
            </h4>
            <p class="list-group-item-text">{{item.description}}</p>
          </td>
          <td class="text-right text-nowrap">
            <button class="btn-xs btn-danger" ng-click="ctrl.onRemove({item: item});">Don't want this one!</button>
          </td>
        </tr>
      </tbody>
  </table>

  <div class="alert alert-danger" style="display: none;">{{ctrl.message}}</div>

  <!-- <div class="list-group" ng-repeat="item in ctrl.items | orderBy: 'name'">
    <div class="col-md-12 list-group-item">
        <h4 class="list-group-item-heading">{{ item.name }}</h4>
        <p class="list-group-item-text">{{item.description}}</p>
        <span class="pull-right">
          <button class="btn-xs btn-danger" ng-click="ctrl.onRemove({item: item});">Don't want this one!</button>
        </span>
    </div>
  </div> -->
</div>
